.oculto{
	display:none;
}

.mostrar{
	display:visible;
}

body{
	background-color:#d5d3d2;
}
input, textarea, select{
 display:block;
}
.overlay-container {
		
		display: none;
		content: " ";
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%, rgba(127,127,127,0.9) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(127,127,127,0)), color-stop(100%,rgba(127,127,127,0.9)));
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		background: -o-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		background: -ms-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		background: radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f7f7f', endColorstr='#e67f7f7f',GradientType=1 );
	}
	.window-container {
		list-style:none;
		border:1px solid green;
		display: block;
		background: #74b138;
		margin: 4em auto;
		width: 30%;
		padding: 10px 20px 20px;
		text-align: left;
		z-index: 3;
		border-radius: 3px;
		box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
		-webkit-transition: 0.4s ease-out;
		-moz-transition: 0.4s ease-out;
		-ms-transition: 0.4s ease-out;
		-o-transition: 0.4s ease-out;
		transition: 0.4s ease-out;
		opacity: 0;
	}
	.zoomin {
		-webkit-transform:  scale(1.2);
		-moz-transform:  scale(1.2);
		-ms-transform:  scale(1.2);
		transform:  scale(1.2);
	}
	
	.zoomout {
		-webkit-transform:  scale(0.7);
		-moz-transform:  scale(0.7);
		-ms-transform:  scale(0.7);
		transform:  scale(0.7);
	}
	
	.window-container-visible {
		-webkit-transform:  scale(1);
		-moz-transform:  scale(1);
		-ms-transform:  scale(1);
		transform:  scale(1);
		opacity: 1;
	}
	.overlay-container3 {
		
		display: none;
		content: " ";
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%, rgba(127,127,127,0.9) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(127,127,127,0)), color-stop(100%,rgba(127,127,127,0.9)));
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		background: -o-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		background: -ms-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		background: radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f7f7f', endColorstr='#e67f7f7f',GradientType=1 );
	}
	.window-container3 {
		list-style:none;
		border:1px solid green;
		display: block;
		background: #74b138;
		margin: 4em auto;
		width: 30%;
		padding: 10px 20px 20px;
		text-align: left;
		z-index: 3;
		border-radius: 3px;
		box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
		-webkit-transition: 0.4s ease-out;
		-moz-transition: 0.4s ease-out;
		-ms-transition: 0.4s ease-out;
		-o-transition: 0.4s ease-out;
		transition: 0.4s ease-out;
		opacity: 0;
	}
.window-container-visible3 {
		-webkit-transform:  scale(1);
		-moz-transform:  scale(1);
		-ms-transform:  scale(1);
		transform:  scale(1);
		opacity: 1;
	}
	.reserva{
			border-radius: 20px; background-color: #f4511e; border: none; color: #FFFFFF; text-align: center; font-size: 18px; padding: 5px; width: 150px; transition: all 0.5s; cursor: pointer;margin: 5px;
			
		}		
		
		.reserva:hover{opacity: 1; right: 0; background-color:#74b138;}
		#nuevo_articulo{
	left:0%;
	width:100%;
}